<div class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">

        <div class="form">
            <div class="form-group">
                <label for=""> Email</label>
                <input [(ngModel)]="email" type="email" class="form-control">
            </div>
          
                <div class="form-group">
                    <label for=""> Password</label>
                    <input [(ngModel)]="password" type="password" class="form-control">
                </div> 
                <div class="form-group">

                <label for=""> user type</label>
                <select [(ngModel)]="userType"  required class="form-control">
                    <option value="1"> admin</option>
                    <option value="2">employee</option>
                </select>
                </div>

                <div class="form-group">

                    <button (click)="onLogin()" class="btn btn-success"> Log in</button>
                    <a routerLink="/auth/signup"  class="btn btn-warning" style="margin-left: 20px;"> Signup</a>
                </div>
        </div>
    </div>
</div>